
.allitems {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-start;
}

.allitems .item{
  height: 200px;
  width: 95px;
  margin-right: 4px;
}

.info-bought .cover {
  width: 90px;
  height: 120px;
  margin-left: 0;
}

.info-list .cover {
  width: 90px;
  height: 120px;
  margin-left: 0;
}

.info-history .cover {
  width: 90px;
  height: 120px;
  margin-left: 0;
}

.info-bought .cover img{
  width: 90px;
  height: 120px;
  border: 1px solid #111;
}

.info-list .cover img{
  width: 90px;
  height: 120px;
  border: 1px solid #111;
}

.info-history .cover img{
  width: 90px;
  height: 120px;
  border: 1px solid #111;
}

.info-bought .info {
  margin: 0;
  width: 100px;
  height: 80px;
  margin-top: 5px;
}

.info-list .info {
  margin: 0;
  width: 100px;
  height: 80px;
  margin-top: 5px;
}

.info-history .info {
  margin: 0;
  width: 100px;
  height: 80px;
  margin-top: 5px;
}

.info-bought .info p {
  text-align: left;
}

.info-list .info p {
  text-align: left;
}

.info-history .info p {
  text-align: left;
}

@media (min-width:1024px) {
  .allitems .item{
    height: 200px;
    width: 95px;
    margin-right: 15px;
  }
}
