body {
  background-image: url("../images/form-background.png");
  background-size: cover;
}

.formularios{
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Bangers', cursive;
  box-sizing: border-box;
  padding: 15px;
  color: #000;
}
