body {

}

/* Background */
.formularios{
  background-image: url("../images/patterns/pattern-2.svg");
  background-repeat: repeat;
  font-family: 'Bangers';
  color: #000;
}

/* Div Grande del Formulario */
.form {
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

/* Titulo */
.titulo{
  text-align: center;
  color: #E52328;
  letter-spacing: 1px;
}

/* Mensajes de Error que surgan */
.erroresx{
  text-align:center;
  color: #E52328;
  font: Roboto;
}

/* Cada Caja del Formulario */
input[type="text"], input[type="email"], input[type="password"], input[type="file"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;

}

/* Botón sin Mouse */
button{
  width: 49%;
  background-color: #E52328;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
	border-radius: 5px;
}

/* Botón con Mouse Encima */
button:hover{
	background-color:#42A9E0;
	color: white;
}

 @media (min-width:768px) {

   .form {
       width: 500px;

    }

}
