body {
  background-image: ;
  background-size: auto;
  background-position: center top;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 500px;


}

.formularios{
  background-image: url("../images/patterns/pattern-2.svg");
  background-repeat: repeat;
  font-family: 'Bangers', cursive;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  color: #000;
}

.form {
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    justify-content: space-between;
}

.logoform{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.titulo{
  text-align: center;
  color: #E52328;
}

.error{
  text-align:center;
  color: #E52328;
  font: Roboto;

}

input[type="text"], input[type="email"], input[type="password"], input[type="file"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

button{
  width: 49%;
  background-color: #E52328;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
	border-radius: 5px;
}

button:hover{
	background-color:#42A9E0;
	color: white;
}
